.demoForm {
	width: 500px;
	margin: auto;
}

https://kanby.medium.com/%D0%B2%D0%B0%D0%BB%D0%B8%D0%B4%D0%B0%D1%86%D0%B8%D1%8F-%D1%84%D0%BE%D1%80%D0%BC-%D0%B2-reactjs-56341da641d0

https://github.com/learnetto/react-form-validation-demo


